<form (ngSubmit)="onSubmit()"
      *ngIf="showAddTask"
      class="add-form">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      [(ngModel)]="text"
      id="text"
      name="text"
      placeholder="Add Task"
      type="text">
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      [(ngModel)]="day"
      id="day"
      name="day"
      placeholder="Add Day & Time"
      type="text"
    >
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set Reminder</label>
    <input
      [(ngModel)]="reminder"
      id="reminder"
      name="reminder"
      type="checkbox">
  </div>
  <input class="btn btn-block"
         type="submit"
         value="Save Task">
</form>
